@model Model.ItemCategory

<br />
<br />
<br />
<div class="container-fluid">
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger text-center" style="display:none" id="CannotId" role="alert">
            @TempData["error"]
        </div>
    }

    <div>
        <h5>Item Category</h5>
    </div>
    @using (Html.BeginForm())
    {


        @Html.AntiForgeryToken()
        @if (Model == null)
        {
            <button class="btn btn-success btn-sm float-right" formaction="@Url.Action("Create", "ItemCategory")" formmethod="post" type="submit">Save</button>
        }
        else
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ShopId)
            <div>
                <button class="btn btn-success btn-sm float-left" style="margin-left: 950px;" formaction="@Url.Action("Edit", "ItemCategory")" formmethod="post" type="submit">Update</button>
                <button class="btn btn-danger btn-sm float-right" formaction="@Url.Action("Delete", "ItemCategory")" formmethod="post" type="submit">Delete</button>

            </div>


        }
        
        <div class="clearfix"></div>
        <br />
        @Html.Label("Category Name")
        @Html.TextBoxFor(x => x.Name, "", new { @minlength = "1", @maxlength = "20", @required = "@required" })
        @Html.ValidationMessageFor(x => x.Name)

        }
        <div class="col-1">
            @Html.ActionLink("Back", "Index", "Itemcategory")
        </div>

    </div>
@section Scripts{
    <script type="text/javascript">
         $(document).ready(function () {
      
            @if (TempData["error"] != null) {
             @Html.Raw(" $('#CannotId').show(); setTimeout(Message, 3000);");
            }
         });

        function Message() {

            $("#CannotId").hide()
        }
    </script>
}